@model IEnumerable<OneRosterSync.Net.Models.DataSyncHistory>
@{ 
    string FormatTimespan(DateTime started, DateTime? completed)
    {
        if (!completed.HasValue)
            return "pending";

        TimeSpan ts = completed.Value - started;
        if (ts.Minutes < 1)
            return $"{(ts.Milliseconds / 1000D).ToString("0.###")}";

        return ts.ToString();
    }
}


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Started)</th>
            <!--
    <th>@Html.DisplayNameFor(model => model.LoadStarted)</th>
    <th>@Html.DisplayNameFor(model => model.LoadCompleted)</th>
    <th>@Html.DisplayNameFor(model => model.AnalyzeStarted)</th>
    <th>@Html.DisplayNameFor(model => model.AnalyzeCompleted)</th>
    <th>@Html.DisplayNameFor(model => model.ApplyStarted)</th>
    <th>@Html.DisplayNameFor(model => model.ApplyCompleted)</th>
            <th>
                Elapsed Time
            </th>
        -->
            <th>
                @Html.DisplayNameFor(model => model.NumRows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Started.ToLocalTime()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumRows)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDeleted)
            </td>
            <td>
                <a asp-action="HistoryInfo" asp-route-dataSyncHistoryId="@item.DataSyncHistoryId" target="_blank">Info</a> |
                <a asp-action="HistoryDetailsList" asp-route-dataSyncHistoryId="@item.DataSyncHistoryId" target="_blank">Changes</a>
            </td>
        </tr>
}
    </tbody>
</table>
