@model IEnumerable<OneRosterSync.Net.Models.DataSyncHistoryDetail>
@using OneRosterSync.Net.Utils;

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNew)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IncludeInSync)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoadStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SyncStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Table)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <pre>@(string.IsNullOrEmpty(item.DataNew) ? "(no change)" : JsonUtilities.FormatJson(item.DataNew))</pre>
                    </td>
                    <td>
                        @(item.IncludeInSync ? "yes" : "no")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoadStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SyncStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Table)
                    </td>
                    <td>
                        @item.Created.ToLocalTime()
                    </td>
                    <td>
                        <a asp-action="DataSyncLineEdit" asp-route-id="@item.DataSyncLineId" >Line</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
