@model OneRosterSync.Net.Models.DataSyncLine
@using OneRosterSync.Net.Utils;

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Table)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt>
            Include in Sync
        </dt>
        <dd>
            @(Model.IncludeInSync ? "yes" : "no")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SyncStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SyncStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Error)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSeen)
        </dt>
        <dd>
            @Model.LastSeen.ToLocalTime()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @(Model.Created.ToLocalTime())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd>
            @(Model.Modified.ToLocalTime())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RawData)
        </dt>
        <dd>
            <pre>@JsonUtilities.FormatJson(Model.RawData)</pre>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentMap)
        </dt>
        <dd>
            <pre>@JsonUtilities.FormatJson(Model.EnrollmentMap)</pre>
        </dd>
    </dl>
</div>
