@model OneRosterSync.Net.Models.District
<div>
    <h4>District Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyProcessingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailyProcessingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NextProcessingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NextProcessingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcessingStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessingStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BasePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BasePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LmsApiBaseUrl)
        </dt>
	    <dd>
		    @Html.DisplayFor(model => model.LmsApiBaseUrl)
	    </dd>
	    <dt>
		    @Html.DisplayNameFor(model => model.LmsApiAuthenticatorType)
	    </dt>
	    <dd>
		    @Html.DisplayFor(model => model.LmsApiAuthenticatorType)
	    </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsApprovalRequired)
        </dt>
        <dd>
            @(Model.IsApprovalRequired ? "yes" : "no")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailsEachProcess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailsEachProcess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailsOnChanges)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailsOnChanges)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcessingAction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessingAction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @(Model.Created.ToLocalTime())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd>
            @(Model.Modified.ToLocalTime())
        </dd>
    </dl>
</div>
