@model IEnumerable<OneRosterSync.Net.Models.DistrictViewModel>

@{
    ViewData["Title"] = "Districts";
}

<h2>School Districts <small>CSV Synchronization Automation</small></h2>
<p>
    <a asp-action="DistrictCreate">Create New District</a>
    <a asp-action="LoadFiles" style="padding-left: 20px">Load files</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRecords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumRecords)
            </td>
            <td>
                @*<a asp-action="DistrictDashboard" asp-route-districtId="@item.DistrictId">Dashboard</a>*@
                <a asp-action="EnrollmentSyncDetails" asp-route-districtId="@item.DistrictId">Sync Details</a>
                <a asp-action="DistrictEdit" asp-route-id="@item.DistrictId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

