@model IEnumerable<OneRosterSync.Net.Models.DistrictViewModel>

@{
    ViewData["Title"] = "Districts";
}

<h2>School Districts <small>CSV Synchronization Automation</small></h2>

@if (TempData["SuccessFlag"] != null)
{

    if (Convert.ToBoolean(TempData["SuccessFlag"]))
    {
        <p><div class="alert alert-success">@TempData["Message"]</div></p>
    }
    else
    {
        <p>
            <div class="alert alert-danger">@TempData["Message"]</div>
        </p>
    }
}

<p>
    <a asp-action="DistrictCreate">Create New District</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCsvUploadedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NightlySyncEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RosteringSource)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsCsvBased)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsApiValidated)
            </th>

            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCsvUploadedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumRecords)
            </td>
            <td>
                @(item.NightlySyncEnabled ? "Yes" : "No")
            </td>
            <td>
                @(item.RosteringSource?.ToString() ?? "CSV")
            </td>
            @*<td>
                @(item.IsCsvBased ? "Yes" : "No")
            </td>*@
            <td>
                @(item.IsApiValidated ? "Yes" : "No")
            </td>
            <td>
                @*<a asp-action="DistrictDashboard" asp-route-districtId="@item.DistrictId">Dashboard</a>*@
                @if (item.IsCsvBased || (!item.IsCsvBased && item.IsApiValidated))
                {
                    <a asp-action="EnrollmentSyncDetails" asp-route-districtId="@item.DistrictId">Sync Details</a>
                }
                else
                {
                    <a asp-action="DistrictValidateApi" asp-route-districtId="@item.DistrictId">Validate Classlink API</a>
                }
            </td>
            <td>
                @if (item.IsCsvBased)
                {
                    <a asp-action="LoadFilesForDistrict" asp-route-districtId="@item.DistrictId">Download files</a>
                }
            </td>
            <td>
                <a asp-action="DistrictEdit" asp-route-id="@item.DistrictId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

