@model ReflectionIT.Mvc.Paging.PagingList<OneRosterSync.Net.Models.EnrollmentSyncLineViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@addTagHelper *, OneRosterSync.Net
@using OneRosterSync.Net.Utils;
@{
    ViewData["Title"] = "EnrollmentSyncDetails";
    var count = Model.Where(w => w.IncludeInSync).Count();
    var headChecked = Model.Count() > 0 && count >= Model.Count() - 10;
}

<h2>Enrollment Sync Details - @ViewBag.CurrentDistrict?.Name</h2>
<style>
    .form-esd form {
        display: inline-block;
    }

    .form-esd.lft div,
    .form-esd.rht div {
        padding: 0 7.5px;
    }

        .form-esd.lft div:nth-child(1),
        .form-esd.rht div:nth-child(1) {
            padding-left: 0;
        }

        .form-esd.lft div:last-child,
        .form-esd.rht div:last-child {
            padding-right: 0;
        }

    .form-esd.lft {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    .form-esd.rht {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
</style>
<div class="row">
    <div class="col-md-7 form-esd lft">
        <div>
            <form asp-action="LoadEnrollmentSyncDetails">
                <input type="hidden" name="districtId" value="@ViewBag.districtId" />
                <input type="submit" value="1. Load" class="btn btn-primary" />
            </form>
        </div>
        <div>
            <form asp-action="SelectOrgs" method="get">
                <input type="hidden" name="districtId" value="@ViewBag.districtId" />
                <input type="submit" value="2. Select Orgs" class="btn btn-primary" />
            </form>
        </div>
        <div>
            <form asp-action="AnalyzeEnrollmentSyncDetails">
                <input type="hidden" name="districtId" value="@ViewBag.districtId" />
                <input type="submit" value="3. Analyze" class="btn btn-primary" />
            </form>
        </div>
        @if (ViewBag.CurrentDistrict.ProcessingStatus == ProcessingStatus.Loading || ViewBag.CurrentDistrict.ProcessingStatus == ProcessingStatus.Analyzing ||
ViewBag.CurrentDistrict.ProcessingStatus == ProcessingStatus.Applying)
        {
            <form asp-action="StopCurrentAction" method="post">
                <input type="hidden" name="districtId" value="@ViewBag.districtId" />
                <input type="submit" value="Stop current action" class="btn btn-primary" />
            </form>
        }
    </div>

    <div class="col-md-5 form-esd rht">
        <div>
            <form asp-action="ViewAllAppliedEnrollmentSyncDetails" method="get">
                <input type="hidden" name="districtId" value="@ViewBag.districtId" />
                <input type="submit" value="View all applied" class="btn btn-primary" />
            </form>
        </div>
        <div>
            <form asp-action="EnrollmentSyncDetails" method="get">
                <input type="hidden" name="districtId" value="@ViewBag.districtId" />
                <input type="submit" value="View all Ready to Apply" class="btn btn-primary" />
            </form>
        </div>
    </div>

</div>

@if (ViewBag.AppliedFlag != null && !ViewBag.AppliedFlag && ViewBag.CurrentDistrict.ProcessingStatus != ProcessingStatus.None)
{
    <div class="row">
        <div class="col-md-6">
            <vc:data-sync-histories district-id="@ViewBag.districtId" current="true" sync-detail="true" />
        </div>
        <div class="col-md-6">
            <vc:data-sync-stats district-id="@ViewBag.districtId" sync-details="true" />
        </div>
    </div>
}

<div class="row">
    <div class="col-md-2">
        Processing Status
    </div>
    <div class="col-md-10">
        @ViewBag.CurrentDistrict.ProcessingStatus
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Total:
    </div>
    <div class="col-md-10">
        @Model.TotalRecordCount.ToString("N0")
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.SyncLoadError))
{
    <div class="row">
        <div class="col-md-2">
            Last Load Error
        </div>
        <div class="col-md-10">
            @ViewBag.SyncLoadError
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SyncAnalyzeError))
{
    <div class="row">
        <div class="col-md-2">
            Last Analyze Error
        </div>
        <div class="col-md-10">
            @ViewBag.SyncAnalyzeError
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SyncApplyError))
{
    <div class="row">
        <div class="col-md-2">
            Last Apply Error
        </div>
        <div class="col-md-10">
            @ViewBag.SyncApplyError
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="DistrictSyncLineErrors" asp-route-districtId="@ViewBag.districtId">View More</a>
        </div>
    </div>
}

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Table)
                </th>
                <th>
                    @if (ViewBag.AppliedFlag == null || !ViewBag.AppliedFlag)
                    {
                        <input type="checkbox" checked="@headChecked" onchange="toggleIncludeInSyncAll(this)" />
                    }
                    @Html.DisplayNameFor(model => model.IncludeInSync)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Username / @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SyncStatus)
                </th>
                <th>
                    @if (ViewBag.AppliedFlag != null && ViewBag.AppliedFlag)
                    {
                        @Html.DisplayNameFor(model => model.Error)
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Table)
                    </td>
                    <td style="text-align: center;">
                        @if (ViewBag.AppliedFlag != null)
                        {
                            @if (ViewBag.AppliedFlag)
                            {
                                if (item.IncludeInSync)
                                {
                                    <i class="fas fa-check" title="Sync Enabled"></i>
                                }
                                else
                                {
                                    <i class="fas fa-close" title="Sync Disabled"></i>
                                }
                            }
                            else
                            {
                                <input type="checkbox" class="chkToggle" checked="@item.IncludeInSync" onchange="toggleIncludeInSync(this, @item.DataSyncLineId)" />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SyncStatus)
                    </td>
                    <td>
                        @if (ViewBag.AppliedFlag != null && ViewBag.AppliedFlag)
                        {
                            <div>
                                @if (item.SyncStatus == SyncStatus.Applied && string.IsNullOrEmpty(item.Error))
                                {
                                    <i class="fas fa-check-circle" style="color: green" title="@item.Error"></i>

                                }
                                @if (item.SyncStatus == SyncStatus.ApplyFailed && !string.IsNullOrEmpty(item.Error))
                                {
                                    <i class="fas fa-exclamation-triangle" style="color: red" title="@item.Error"></i>
                                }
                                else
                                {
                                    <i class="fas fa-exclamation-triangle" style="color: dimgray" title="Warning"></i>
                                }
                                @item.Error
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplyEnrollmentSyncDetails">
            <input type="hidden" name="districtId" value="@ViewBag.districtId" />
            <div class="form-group">
                <input type="submit" value="4. Apply" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8 form-esd rht">
        <div class="pull-right">
            <nav aria-label="Products navigation example">
                <vc:pager paging-list="@Model" />
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleIncludeInSync(control, lineId) {

        let url = '@Url.Action("ToggleIncludeInSyncFlag", "DataSync")';
        let flag = $(control).prop('checked');
        $.ajax({
            url: url,
            dataType: 'json',
            data: { flag: flag, LineId: lineId },
            type: 'POST',
            success: function (response) {
                if (!response) {
                    alert('Something went wrong while toggling the flag. Please contact administrator.');
                }
            }
        });
    }

    function toggleIncludeInSyncAll(control) {
        let checkFlag = $(control).prop('checked');
        $('input[type=checkbox].chkToggle').map(async (i, item) => $(item).prop('checked', checkFlag).change());
    }

    function setAction(val) {
        $('[Id=hdnAction]').val(val);
    }
</script>
