@model OneRosterSync.Net.Models.DataSyncHistory

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District.Name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.LoadError)</dt>
        <dd>@Html.DisplayFor(model => model.LoadError)</dd>
        <dt>@Html.DisplayNameFor(model => model.AnalyzeError)</dt>
        <dd>@Html.DisplayFor(model => model.AnalyzeError)</dd>
        <dt>@Html.DisplayNameFor(model => model.ApplyError)</dt>
        <dd>@Html.DisplayFor(model => model.ApplyError)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Started)
        </dt>
        <dd>
            @(Model.Started.ToLocalTime())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumRows)
        </dt>
        <dd>
            @Model.NumRows.ToString("N0")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumAdded)
        </dt>
        <dd>
            @Model.NumAdded.ToString("N0")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumModified)
        </dt>
        <dd>
            @Model.NumModified.ToString("N0")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDeleted)
        </dt>
        <dd>
            @Model.NumDeleted.ToString("N0")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>
