@model IEnumerable<OneRosterSync.Net.Models.District>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyProcessingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextProcessingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyProcessingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextProcessingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @item.Created.ToLocalTime()
            </td>
            <td>
                @item.Modified.ToLocalTime()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistrictId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
