@model OneRosterSync.Net.Models.DataSyncLineReportLine

<div class="col-md-6 col-sm-12">
    <dl class="dl-horizontal">
        @*@if (!string.IsNullOrEmpty(Model.Entity))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Entity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Entity)
                </dd>
            }*@
        @*<dt>
                @Html.DisplayNameFor(model => model.TotalRecords)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalRecords)
            </dd>*@
        @*<dt>
                @Html.DisplayNameFor(model => model.IncludeInSync)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IncludeInSync)
            </dd>*@
        <dt>
            Added in Database
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Added)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>*@
        @*<dt>
                @Html.DisplayNameFor(model => model.NoChange)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NoChange)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>*@
        <dt>
            Loaded for Apply
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loaded)
        </dd>
        <dt>
            Ready for Next Apply
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReadyToApply)
        </dd>
    </dl>
</div>
<div class="col-md-6 col-sm-12">
    <dl class="dl-horizontal">
        <dt>
            Last Apply Successfull
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applied)
        </dd>
        <dt>
            Last Apply Failed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppliedFailed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transferred)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewEnrollments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewEnrollments)
        </dd>
    </dl>
</div>
